.root {
  border: 3px solid black;
  width: 50%;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.tv  {
   border: 3px solid black;
   width: 50%;
   display: inline-block;
   margin: 5px;
   padding: 5px;
}

.light  {
   border: 3px solid black;
   width: 50%;
   display: block;
   margin: 5px;
   padding: 5px;
}

.on {
   background-color: lime;
}
.off {
   background-color: pink;
}

.listChannel{
  border: 1px solid green;
}

.listCh{
  margin: 0;
}
